

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />#}
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    HERE YOU CAN REGISTER

    <h1>SIGN UP AS A STUDENT</h1>
    <form method="post" action="{{ action_value_student }}">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-default" type="submit" value="{{ submit_btn_value }}">
    </form>

    <h1> SIGN UP AS A SOCIETY </h1>
    <form method="post" action="{{ action_value_society }}">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-default" type="submit" value="{{ submit_btn_value }}">
    </form>

    <h1> SIGN UP AS A COMPANY</h1>
    <form method="post" action="{{ action_value_company }}">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-default" type="submit" value="{{ submit_btn_value }}">
    </form>
</body>
</html>